.link {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #1400FF;
    color: #1400FF;
    width: 150px;
}

.active {
    background-color: #1400FF;
    color: white;
}
